:root {
    --ff-Accent: 'Righteous', cursive;
    --ff-Main: 'Tajawal', sans-serif;
}

html {
    height: 100%;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,35,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: var(--ff-Accent);
    align-content: center;
    text-align: center;
    margin: 0 auto;

}
h1 {
    font-family: var(--ff-Accent);
}

p {
    font-size: 4rem;
    margin-top: 2em;
    color: #fff;
    text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
      
}