:root {
    --ff-Accent: 'Righteous', cursive;
    --ff-Main: 'Tajawal', sans-serif;
}

html {
    height: 100%;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,35,1) 35%, rgba(0,212,255,1) 100%);
    color: white;

}
h1 {
    font-family: var(--ff-Accent);
}