:root {
    --ff-Accent: 'Righteous', cursive;
    --ff-Main: 'Tajawal', sans-serif;
}

html {
    height: 100%;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,9,35,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: var(--ff-Accent);
    align-content: center;
    text-align: center;
    margin: 0 auto;

}
h1 {
    font-family: var(--ff-Accent);
}

#resultDiv {
    matgin-bottom: 4em;
}

p {
    font-size: 4rem;
    
}